name: Publish

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"

permissions:
  contents: read
  packages: write
  id-token: write # Required for NPM trusted publishing

jobs:
  ci:
    uses: makerxstudio/shared-config/.github/workflows/node-ci.yml@main
    with:
      audit-script: npm run audit

  publish:
    needs: ci
    uses: makerxstudio/shared-config/.github/workflows/node-trusted-publish.yml@main
    with:
      access: public
